body
{
    font-family: "Montserrat-medium";
    text-align: center;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
}

p
{
    color: #8f8f8f;
}

/* Headings */
.big-heading
{
    font-family: 'Montserrat', sans-serif;
    line-height:1.5;
    font-size:3.5rem;
    color: #fff;
}
.section-heading
{
    font-size: 2rem;
    line-height: 1.5;
}

/* container */
.container-fluid{
    padding: 7% 15%;
}

/* sections */
.colored-section
{
    background-color: #ff4c68;
    color: #fff;
}
.white-section
{
    background-color: white;
}
/* navigation bar */
.navbar-brand
{
    font-family:"ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar
{
    padding: 0;
    padding-bottom: 4.5rem;
}
.nav-item
{
    padding: 0px 18px;
}
.nav-link
{
    font-size:1.2rem;
    font-family:"Montserrat-light";
}

/* download button */
.download-button
{
    margin: 5% 3% 5% 0;
}

/* title section */
#title .container-fluid 
{
    padding: 3% 15% 7%;
    text-align: left;
}

/* title image */
.title-image
{
    width:60%;
    transform: rotate(25deg);
    position:absolute;
    right:30%;
}

/* features */
#features
{
    position: relative;
}
.feature-box
{
    padding: 5%;
}
.feature-icon
{
    color: #ef8172;
    padding-bottom:1rem; 
 
}
.feature-icon:hover
{
    color: #ff4c68;
}
.feature-title
{
    font-size: 1.5rem;
}

/* testimonial */
#testimonials
{
    background-color: #ef8172;
}
.testimonial-image
{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
.testimonial-text
{
    font-size: 2rem;
    line-height: 1.5;
}
/* press */
#press
{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo
{
    width: 15%;
    margin:20px 20px 50px;
}
/* pricing */
.row
{
    margin: 0;
}
#pricing
{
    padding: 100px;
    
}
.pricing-coloumn
{
    padding:3% 2%;
}
.price-text
{
    font-size: 2rem;
    line-height: 1.5;
}

@media (max-width:1028px)
{
    #title
    {
        text-align: center;
    }
    .title-image
    {
        position: static;
        transform: rotate(0);
    }
}

/* cta */

/* footer */
.footer-icon
{
    color: black;
    padding:8px 10px; 
}